html {
  font-size: 125%;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-dark);
  background-color: var(--color-white);
  font-family: var(--typeface-benton);
  font-size: 1em;
  line-height: 1.8;
  position: relative;
}
