/**
 * @Deprecated
 * .is-hidden and .display-none are deprecated and are included only for
 * legacy support. The hidden attribute should be used for all cases
 * going forward.
 */
.is-hidden,
.display-none {
  display: none !important;
}

/**
 * @Deprecated
 * .is-relative is deprecated and is only included for legacy support.
 * Use the `position: relative;` declaration instead of a classname.
 */
.is-relative {
  position: relative;
}

.hide-text {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/**
 * @Deprecated
 * .clearfix is deprecated and is only included for legacy support.
 * Layouts should be built with grid and flexbox, which do not use
 * floats.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}
