:root {
  /* Colors: Background */
  --color-bgPrimary: map(colors, bgPrimary);
  --color-bgSecondary: map(colors, bgSecondary);
  --color-bgOverlay: map(colors, bgOverlay);
  --color-bgDark: map(colors, bgDark);

  /* Colors: Link */
  --color-linkPrimary: map(colors, linkPrimary);
  --color-linkPrimaryHover: map(colors, linkPrimaryHover);

  /* Colors: Border */
  --color-borderPrimary: map(colors, borderPrimary);

  /* Colors: Text */
  --color-textPrimary: map(colors, textPrimary);
  --color-textSecondary: map(colors, textSecondary);
  --color-textOverlay: map(colors, textOverlay);

  /* Colors: Shadow */
  --color-shadowPrimary: map(colors, shadowPrimary);

  /* Colors: Accent */
  --color-accentBlue: map(colors, accentBlue);
  --color-accentGray: map(colors, accentGray);
  --color-accentGreen: map(colors, accentGreen);
  --color-accentOrange: map(colors, accentOrange);
  --color-accentPink: map(colors, accentPink);
  --color-accentPurple: map(colors, accentPurple);
  --color-accentRed: map(colors, accentRed);
  --color-accentYellow: map(colors, accentYellow);

  /* Colors: UI */
  --color-uiGreen: map(colors, uiGreen);

  /* Colors: Social */
  --color-socialFacebook: map(colors, socialFacebook);
  --color-socialFacebookMessenger: map(colors, socialFacebookMessenger);
  --color-socialPinterest: map(colors, socialPinterest);
  --color-socialGoogleBlue: map(colors, socialGoogleBlue);
  --color-socialGoogleGreen: map(colors, socialGoogleGreen);
  --color-socialGoogleYellow: map(colors, socialGoogleYellow);
  --color-socialGoogleRed: map(colors, socialGoogleRed);
  --color-socialReddit: map(colors, socialReddit);
  --color-socialTwitter: map(colors, socialTwitter);
  --color-socialWhatsapp: map(colors, socialWhatsapp);

  /* Fonts */
  --font-benton: map(fonts, benton);
  --font-miller: map(fonts, miller);

  /* Media queries: min-width */
  --mq-min-1430: map(mq, min, 1430);
  --mq-min-1410: map(mq, min, 1410);
  --mq-min-1350: map(mq, min, 1350);
  --mq-min-1290: map(mq, min, 1290);
  --mq-min-1200: map(mq, min, 1200);
  --mq-min-1080: map(mq, min, 1080);
  --mq-min-1024: map(mq, min, 1024);
  --mq-min-960: map(mq, min, 960);
  --mq-min-840: map(mq, min, 840);
  --mq-min-768: map(mq, min, 768);
  --mq-min-720: map(mq, min, 720);
  --mq-min-600: map(mq, min, 600);
  --mq-min-560: map(mq, min, 560);
  --mq-min-480: map(mq, min, 480);
  --mq-min-360: map(mq, min, 360);
  --mq-min-320: map(mq, min, 320);

  /* Media queries: max-width */
  --mq-max-1530: map(mq, max, 1530);
  --mq-max-1430: map(mq, max, 1430);
  --mq-max-1410: map(mq, max, 1410);
  --mq-max-1350: map(mq, max, 1350);
  --mq-max-1290: map(mq, max, 1290);
  --mq-max-1200: map(mq, max, 1200);
  --mq-max-1080: map(mq, max, 1080);
  --mq-max-1024: map(mq, max, 1024);
  --mq-max-960: map(mq, max, 960);
  --mq-max-840: map(mq, max, 840);
  --mq-max-768: map(mq, max, 768);
  --mq-max-720: map(mq, max, 720);
  --mq-max-600: map(mq, max, 600);
  --mq-max-560: map(mq, max, 560);
  --mq-max-480: map(mq, max, 480);
  --mq-max-360: map(mq, max, 360);
  --mq-max-320: map(mq, max, 320);

  /* Media queries: Layout */
  --mq-layout-phoneStart: map(mq, layout, phoneStart);
  --mq-layout-phoneEnd: map(mq, layout, phoneEnd);
  --mq-layout-tabletStart: map(mq, layout, tabletStart);
  --mq-layout-tabletEnd: map(mq, layout, tabletEnd);
  --mq-layout-laptopStart: map(mq, layout, laptopStart);
  --mq-layout-laptopEnd: map(mq, layout, laptopEnd);
  --mq-layout-desktopStart: map(mq, layout, desktopStart);

  /* Timing */
  --timing-fast: map(timing, fast);
  --timing-default: map(timing, default);
  --timing-slow: map(timing, slow);

  /* Typography: Font weight */
  --typography-fontWeightLight: map(typography, fontWeightLight);
  --typography-fontWeightRegular: map(typography, fontWeightRegular);
  --typography-fontWeightMedium: map(typography, fontWeightMedium);

  /* Typography: Font size */
  --typography-fontSizeSuper: map(typography, fontSizeSuper);
  --typography-fontSizeHeading1: map(typography, fontSizeHeading1);
  --typography-fontSizeHeading2: map(typography, fontSizeHeading2);
  --typography-fontSizeHeading3: map(typography, fontSizeHeading3);
  --typography-fontSizeHeading4: map(typography, fontSizeHeading4);
  --typography-fontSizeHeading5: map(typography, fontSizeHeading5);
  --typography-fontSizeHeading6: map(typography, fontSizeHeading6);
  --typography-fontSizeHeading7: map(typography, fontSizeHeading7);
  --typography-fontSizeHeading8: map(typography, fontSizeHeading8);
  --typography-fontSizeBodyArticle: map(typography, fontSizeBodyArticle);
  --typography-fontSizeBodyArticleSmall: map(typography, fontSizeBodyArticleSmall);
  --typography-fontSizeBodySmall: map(typography, fontSizeBodySmall);
  --typography-fontSizeAccent: map(typography, fontSizeAccent);
  --typography-fontSizeUppercase: map(typography, fontSizeUppercase);

  /* Typography: Line height */
  --typography-lineHeightSuper: map(typography, lineHeightSuper);
  --typography-lineHeightHeading1: map(typography, lineHeightHeading1);
  --typography-lineHeightHeading2: map(typography, lineHeightHeading2);
  --typography-lineHeightHeading3: map(typography, lineHeightHeading3);
  --typography-lineHeightHeading4: map(typography, lineHeightHeading4);
  --typography-lineHeightHeading5: map(typography, lineHeightHeading5);
  --typography-lineHeightHeading6: map(typography, lineHeightHeading6);
  --typography-lineHeightHeading7: map(typography, lineHeightHeading7);
  --typography-lineHeightHeading8: map(typography, lineHeightHeading8);
  --typography-lineHeightBodyArticle: map(typography, lineHeightBodyArticle);
  --typography-lineHeightBodyArticleSmall: map(typography, lineHeightBodyArticleSmall);
  --typography-lineHeightBodySmall: map(typography, lineHeightBodySmall);
  --typography-lineHeightAccent: map(typography, lineHeightAccent);
  --typography-lineHeightUppercase: map(typography, lineHeightUppercase);
  --typography-lineHeightReset: map(typography, lineHeightReset);

  /* z-index */
  --zIndex-auto: map(zIndex, auto);
  --zIndex-below: map(zIndex, below);
  --zIndex-default: map(zIndex, default);
  --zIndex-popup: map(zIndex, popup);
  --zIndex-dialog: map(zIndex, dialog);
  --zIndex-dropdown: map(zIndex, dropdown);
  --zIndex-overlay: map(zIndex, overlay);
  --zIndex-menu: map(zIndex, menu);
  --zIndex-modal: map(zIndex, modal);
  --zIndex-toast: map(zIndex, toast);
}
